//variables

$color-transparent: rgba(85, 126, 98, 0.767);
$color-light: #09f611;
$color-darker: #18521b;

$space-half:0.5rem;
$space-1:1rem;
$space-2:2rem;
$space-3:3rem;


// resets
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  margin:0;
  list-style: none;
}
input,textarea{
  outline: none;
    border:none;
}
html {
  scroll-behavior: smooth;
  font-size: 20px;
  scroll-padding-top: 28px;
}
// logo and header
.logo {
  display: flex;
  align-items: center;
  padding-inline:$space-1;
  &__text {
    color: #fff;
    font-weight: 100;
    letter-spacing: 0.5ch;
    font-size: clamp(0.9rem,4vw,1.25rem);
    font-style: italic;
  }
  &__bicycles {
    text-align: center;
    color: #fff;
  }
  &__bicycle {
    position: absolute;
    font-size: 1rem;
    left: -5px;
    transform: rotate(-55deg);
  }
  &__mountain {
    font-size: 1.75rem;
    position: relative;
  }
}
//go to top btn
.btn__top{
  padding:$space-half;
  opacity:0;
  pointer-events: none;
  position:fixed;
  top:50%;
  right:1%;
  z-index:2;
  font-size:1.25rem;
  background: #fff;
  color:$color-darker;
  border:none;
  transition:opacity 0.3s linear;
  &:hover{
    background: $color-darker;
    color:#fff;
    cursor:pointer;
  }
}
//navigation  
.nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height:50px;
  z-index: 2;
  background: $color-darker;
  padding-block:$space-1;
  &__icon {
  padding-right:$space-1;
    z-index: 2;
    color: #fff;
    position: relative;
    font-size: clamp(1.25rem,8vw,2.5rem);
    transition: 0.3s transform ease;
    border-radius: 0 0 0 1rem;
    &:hover {
      cursor: pointer;
      color: $color-light;
    }
  }
  &__bar {
    transition: opacity 0.3s linear, transform 0.3s linear;
    opacity: 0;
    pointer-events: none;
    transform: translateX(30%);
    position: absolute;
    right: 0;
    top: 2rem;
    height: 100vh;
    width: 100%;
    background: $color-darker;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
  }
  &__item {
    color: #fff;
    font-size: 1.5rem;
    &:hover {
      transform: scale(1.1);
      color: $color-light;
    }
  }
}

// landing page
main,footer{
  overflow-x: hidden;
}
.landing {
  background: url("https://picsum.photos/id/1023/1920/1080");
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-position: bottom left;
  position: relative;
}
.header {
  padding:$space-2;
  text-align: center;
  position: absolute;
  top: 40%;
  background: $color-transparent;
  color: #fff;
  z-index: 1;
  &__text {
    letter-spacing: 0.5ch;
    font-size: clamp(1.6rem, 3.5vw, 9rem);
    font-weight: 800;
  }
  &__subtext {
    font-size: clamp(1.3rem, 2vw, 4.5rem);
    font-weight: 700;
  }
  &__link {
    border: none;
    display: inline-block;
    background: $color-darker;
    color: #fff;
    font-weight: 800;
    padding-inline:$space-1;
    padding-block:$space-half;
    &:hover {
      background: $color-light;
      cursor: pointer;
    }
    &--light {
      background: #fff;
      color: $color-darker;
    }
  }
}

//about
.about {
  color: #fff;
  &__header {
    padding:$space-3;
    text-align: center;
    box-shadow: 0 0 2px #fff;
    background: $color-darker;
    font-weight: 800;
  }
  &__text {
    line-height: 2.5ch;
    text-indent: 1rem;
    text-align: justify;
    max-width: 1000px;
    color:#000;
    padding:$space-1;
    margin:0 auto;
    &::first-letter {
      font-weight: 800;
      font-size: 120%;
    }
  }
}
//cards
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color:#000;
}
.card {
  text-align: center;
  max-width: 20rem;
  margin:$space-1;
  &__icon {
    font-size: 3rem;
    padding-top:$space-1;

  }
  &__header {
    font-size: 1.25rem;
    text-transform: uppercase;
  padding:$space-1;
  }
  &__text {
    line-height: 2.5ch;
  }
}

//dynamic classess

.animation__entry{
  opacity:0;
  transition: opacity 0.7s ease-in-out,
  transform 0.7s ease-in-out;
  &--left{
    transform:translateX(-30%);
  }
  &--right{
    transform:translateX(30%);
  }
}
.animation__entry.animation__active{
  opacity:1;
  transform:translateX(0);
}
.visible{
opacity:1;
pointer-events: all;
}
.active {
  opacity: 1;
  pointer-events: all;
  transform: translateX(0);
}
.activited{
transform:rotate(90deg);
}

//trails

.trail {
  text-align: center;
  &__header {
    background: $color-darker;
    box-shadow: 0 0 1px #fff;
    text-align: center;
    font-size: 1.25rem;
    color: #fff;
    padding:$space-3;
  }
  &__card {
    display:grid;
    place-content:center;
    padding:$space-1;
    width:clamp(150px,80vw,800px);
    margin:$space-half auto;
    cursor: pointer;
    position: relative;
    font-size: 1.05rem;
    &:nth-child(2) {
      background: lightseagreen;
    }
    &:nth-child(3) {
      background: rgb(217, 217, 171);
    }
    &:nth-child(4) {
      background: rgb(231, 104, 104);
    }
    &:before {
      content: "+";
      position: absolute;
      top: 50%;
      font-size: 1.5rem;
      right: 1rem;
      transform: translateY(-50%);
    }
    &:not(.expand):hover {
      outline: 2px solid #fff;
    }
    &:hover:before {
      color: white;
    }
  }
  &__map {
    color: #fff;
    display: block;
    max-width: 250px;
    background: $color-transparent;
    padding:$space-half;
    margin:0 auto;
    &:hover {
      background: $color-light;
      color:#000;
    }
  }
  &__container {
    display:grid;
    place-content:center;
    position: relative;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    text-align: center;
  }
  &__item {
    cursor: auto;
  }
}
.trail__card.expand:before {
  content: "-";
}
.trail__card.expand .trail__container {
  height: 200px;
}
// prices

.prices {
  text-align: center;
  &__container {
    margin: 0 auto;
    color: #fff;
  }
  &__header {
    padding:$space-3;
    font-size: 1.25rem;
    background: $color-darker;
    color: #fff;
    box-shadow: 0 0 1px #fff;
  }
  &__list {
    max-width: 550px;
    margin: 0 auto;
  }
  &__subheader {
    color:#000;
    font-size: 1.05rem;
    padding:$space-1;
  }
  &__item {
    box-shadow:0px 0px 1px #000;
    display: flex;
    justify-content: space-between;
    color:#000;
    padding:$space-1;
  }
}

//contact

.footer {
  text-align: center;
}
.contact {
  &__header {
    color:#fff;
    padding:$space-3;
    background:$color-darker;
    font-size: 1.25rem;
  }
  &__container {
    display: grid;
    grid-template-columns: 1fr;
  }
}
.form {
  &__fields {
    margin:$space-1;
  }
  &__field {
    font-size: 1.05rem;
    border-radius: 10px;
    box-shadow:0px 0px 2px #000;
    padding:$space-half;
    margin:$space-half;
    &:focus {
      background: $color-light;
    }
  }
  &__btn {
    display: block;
    border-radius: 0.5rem;
    margin: $space-1 auto;
    background: $color-darker;
    color: #fff;
    padding:$space-half;
    border: none;
    cursor: pointer;
    &:hover {
      background: $color-light;
      color: #000;
    }
  }
  &__text__field {
    padding:$space-half;
    font-size: 1.05rem;
    border-radius: 10px;
    box-shadow:0px 0px 2px #000;
    width: 95%;
    max-width: 550px;
    &:focus {
      outline: none;
    }
  }
}

//address

.address {
  &__container{
    padding:$space-1;
  }
  &__header{
    color:#fff;
    background:$color-darker;
    padding:$space-half;
  }
  &__item {
    margin-bottom:$space-1;
    &--big {
      text-transform: uppercase;
      font-size: 1.05rem;
    }
  }
  &__phone {
    color: #000;
  }
}

// social

.footer__nav {
  &__header{
    background:$color-darker;
    color:#fff;
    padding:$space-half;
    display: grid;
    place-content: center;
  }
  &__bar {
    padding:$space-1;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: space-evenly;
  }
  &__item {
    color:#000;
    margin:$space-half;
    &:hover {
      color: $color-light;
    }
  }
}
// social media

.social {
  padding:$space-1;
  border-top:1px solid $color-darker;
  display: flex;
  justify-content: space-around;
  font-size: 1.5rem;
  &__item {
    &:hover {
      color: $color-light;
      cursor: pointer;
    }
  }
}

.copyrights {
  padding-bottom:$space-1;
  letter-spacing: 1ch;
}

//media queries

@media (min-width: 800px) {
  .nav {
    &__icon {
      display: none;
    }
    &__bar {
      opacity: 1;
      pointer-events: all;
      transform: translateX(0);
      flex-direction: row;
      position: static;
      align-items:center;
      height: 50px;
      justify-content: space-evenly;
      width: 50%;
      background: $color-transparent;
    }
    &__item {
      font-size: 1rem;
    }
  }
  .about__text{
    line-height:4ch;
  }
  .header {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
  }
  .prices__container {
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: stretch;
  }
  .prices__list {
    width: 100%;
  }
  .contact__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: #000;
    background-color: #fff;
  }
}
