// resets
$color-transparent: rgba(30, 113, 57, 0.6);
$color-light: #09f611;
$color-darker:#09660c;


*{
  margin:0;
  padding:0;
  font-family: sans-serif;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
}

// nav

.nav{
  position:fixed;
  width:100%;
  display:flex;
  justify-content: end;
  &__icon{
    color:#fff;
    background:$color-darker;
    position:relative;
    font-size:2.5rem;
    padding:.5rem;
    border-radius: 0 0 0 1rem;
    z-index:1;
    &:hover{
      cursor:pointer;
      color:$color-light;
    }
  }
  &__bar{
    transition: opacity 0.3s linear;
    opacity:0;
    pointer-events: none;
    position:absolute;
    right:0;
    height:75vh;
    width:50%;
    background:$color-darker;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center;
    border-radius:10rem 0 0 10rem;
  }
  &__item{

    color:#fff;
    font-size:1.5rem;
    &:hover{
      transform:scale(1.1);
      color:$color-light;
    }
  }
}

//dynamic classess

.active{
  opacity:1;
  pointer-events: all;
}

// landing page

.landing{
  background:url("https://picsum.photos/id/1023/1920/1080");
  background-size:cover;
  height:100vh;
  width:100%;
  background-position:bottom left;
  position:relative;
  z-index: -1;
}
.header{
position:absolute;
top:50%;
background:$color-transparent;
color:#fff;
padding: 2.5rem;
border-radius:0 15rem 15rem 0;
&__text{
  font-size:clamp(2.5rem, 2.5vw, );
  font-weight: 800;
}
&__subtext{
  font-weight: 700;
}
}