* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  list-style: none;
}

input, textarea {
  outline: none;
  border: none;
}

html {
  scroll-behavior: smooth;
  font-size: 20px;
  scroll-padding-top: 28px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo__text {
  padding-inline: 1rem;
  color: #fff;
  font-weight: 100;
  font-size: clamp(0.9rem, 4vw, 1.25rem);
  font-style: italic;
}

.logo__bicycles {
  text-align: center;
  color: #fff;
}

.logo__bicycle {
  position: absolute;
  font-size: 1rem;
  left: -5px;
  transform: rotate(-55deg);
}

.logo__mountain {
  font-size: 1.75rem;
  position: relative;
}

.btn__top {
  padding: 0.5rem;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 50%;
  right: 1%;
  z-index: 2;
  font-size: 1.25rem;
  background: #fff;
  color: #18521b;
  border: none;
  transition: opacity 0.3s linear;
}

.btn__top:hover {
  background: #18521b;
  color: #fff;
  cursor: pointer;
}

.nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  z-index: 2;
  background: #18521b;
  padding-block: 1rem;
}

.nav__icon {
  padding-inline: 1rem;
  z-index: 2;
  color: #fff;
  position: relative;
  font-size: clamp(1.25rem, 5vw, 2.5rem);
  transition: 0.3s transform ease;
}

.nav__icon:hover {
  cursor: pointer;
  color: #09f611;
}

.nav__bar {
  transition: opacity 0.3s linear, transform 0.3s linear;
  opacity: 0;
  pointer-events: none;
  transform: translateX(30%);
  position: absolute;
  right: 0;
  top: 2rem;
  height: 100vh;
  width: 100%;
  background: #18521b;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.nav__item {
  color: #fff;
  font-size: 1.5rem;
}

.nav__item:hover {
  transform: scale(1.1);
  color: #09f611;
}

main, footer {
  overflow-x: hidden;
}

.landing {
  background: url("https://picsum.photos/id/1023/1920/1080");
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-position: bottom left;
  position: relative;
}

.header {
  padding: 1rem;
  text-align: center;
  position: absolute;
  top: 40%;
  background: rgba(85, 126, 98, 0.767);
  color: #fff;
  z-index: 1;
}

.header__text {
  letter-spacing: 0.5ch;
  font-size: clamp(1.6rem, 3.5vw, 9rem);
  font-weight: 800;
}

.header__subtext {
  font-size: clamp(1.3rem, 2vw, 4.5rem);
  font-weight: 700;
}

.header__link {
  width: 175px;
  border: none;
  display: inline-block;
  background: #18521b;
  color: #fff;
  font-weight: 800;
  padding-inline: 1rem;
  padding-block: 0.5rem;
}

.header__link:hover {
  background: #09f611;
  cursor: pointer;
}

.header__link--light {
  background: #fff;
  color: #18521b;
}

.about {
  color: #fff;
}

.about__header {
  padding: 3rem;
  text-align: center;
  box-shadow: 0 0 2px #fff;
  background: #18521b;
  font-weight: 800;
}

.about__text {
  line-height: 2.5ch;
  text-indent: 1rem;
  text-align: justify;
  max-width: 1000px;
  color: #000;
  padding: 1rem;
  margin: 0 auto;
}

.about__text::first-letter {
  font-weight: 800;
  font-size: 120%;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #000;
}

.card {
  text-align: center;
  max-width: 20rem;
  margin: 1rem;
}

.card__icon {
  font-size: 3rem;
  padding-top: 1rem;
}

.card__header {
  font-size: 1.25rem;
  text-transform: uppercase;
  padding: 1rem;
}

.card__text {
  line-height: 2.5ch;
}

.animation__entry {
  opacity: 0;
  transition: opacity 0.7s ease-in-out, transform 0.7s ease-in-out;
}

.animation__entry--left {
  transform: translateX(-30%);
}

.animation__entry--right {
  transform: translateX(30%);
}

.animation__entry.animation__active {
  opacity: 1;
  transform: translateX(0);
}

.visible {
  opacity: 1;
  pointer-events: all;
}

.active {
  opacity: 1;
  pointer-events: all;
  transform: translateX(0);
}

.activited {
  transform: rotate(90deg);
}

.trail {
  text-align: center;
}

.trail__header {
  background: #18521b;
  box-shadow: 0 0 1px #fff;
  text-align: center;
  font-size: 1.25rem;
  color: #fff;
  padding: 3rem;
}

.trail__card {
  display: grid;
  place-content: center;
  padding: 1rem;
  width: clamp(150px, 80vw, 800px);
  margin: 0.5rem auto;
  cursor: pointer;
  position: relative;
  font-size: 1.05rem;
}

.trail__card:nth-child(2) {
  background: lightseagreen;
}

.trail__card:nth-child(3) {
  background: #d9d9ab;
}

.trail__card:nth-child(4) {
  background: #e76868;
}

.trail__card:before {
  content: "+";
  position: absolute;
  top: 50%;
  font-size: 1.5rem;
  right: 1rem;
  transform: translateY(-50%);
}

.trail__card:not(.expand):hover {
  outline: 2px solid #fff;
}

.trail__card:hover:before {
  color: white;
}

.trail__map {
  color: #fff;
  display: block;
  max-width: 250px;
  background: rgba(85, 126, 98, 0.767);
  padding: 0.5rem;
  margin: 0 auto;
}

.trail__map:hover {
  background: #09f611;
  color: #000;
}

.trail__container {
  display: grid;
  place-content: center;
  position: relative;
  height: 0;
  overflow: hidden;
  transition: 0.5s;
  text-align: center;
}

.trail__item {
  cursor: auto;
}

.trail__card.expand:before {
  content: "-";
}

.trail__card.expand .trail__container {
  height: 200px;
}

.prices {
  text-align: center;
}

.prices__container {
  padding-bottom: 1rem;
  padding-inline: 1rem;
  margin: 0 auto;
  color: #fff;
}

.prices__header {
  padding: 3rem;
  font-size: 1.25rem;
  background: #18521b;
  color: #fff;
  box-shadow: 0 0 1px #fff;
}

.prices__list {
  max-width: 550px;
  margin: 0 auto;
}

.prices__subheader {
  color: #000;
  font-size: 1.05rem;
  padding: 1rem;
}

.prices__item {
  box-shadow: 0px 0px 2px #000;
  display: flex;
  justify-content: space-between;
  color: #000;
  padding: 1rem;
}

.prices__item:nth-of-type(2) {
  margin-block: 0.5rem;
}

.footer {
  text-align: center;
}

.contact__header {
  color: #fff;
  padding: 3rem;
  background: #18521b;
  font-size: 1.25rem;
}

.contact__container {
  display: grid;
  grid-template-columns: 1fr;
}

.form__fields {
  margin: 1rem;
}

.form__field {
  font-size: 1.05rem;
  border-radius: 10px;
  box-shadow: 0px 0px 2px #000;
  padding: 0.5rem;
  margin: 0.5rem;
}

.form__field:focus {
  background: #09f611;
}

.form__btn {
  display: block;
  border-radius: 0.5rem;
  margin: 1rem auto;
  background: #18521b;
  color: #fff;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
}

.form__btn:hover {
  background: #09f611;
  color: #000;
}

.form__text__field {
  padding: 0.5rem;
  font-size: 1.05rem;
  border-radius: 10px;
  box-shadow: 0px 0px 2px #000;
  width: 95%;
  max-width: 550px;
}

.form__text__field:focus {
  outline: none;
}

.address__container {
  padding: 1rem;
}

.address__header {
  color: #fff;
  background: #18521b;
  padding: 0.5rem;
}

.address__item {
  margin-bottom: 1rem;
}

.address__item--big {
  text-transform: uppercase;
  font-size: 1.05rem;
}

.address__phone {
  color: #000;
}

.footer__nav__header {
  background: #18521b;
  color: #fff;
  padding: 0.5rem;
  display: grid;
  place-content: center;
}

.footer__nav__bar {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.footer__nav__item {
  color: #000;
  margin: 0.5rem;
}

.footer__nav__item:hover {
  color: #09f611;
}

.social {
  padding: 1rem;
  border-top: 1px solid #18521b;
  display: flex;
  justify-content: space-around;
  font-size: 1.5rem;
}

.social__item:hover {
  color: #09f611;
  cursor: pointer;
}

.copyrights {
  padding-bottom: 1rem;
  letter-spacing: 1ch;
}

@media (min-width: 860px) {
  .nav__icon {
    display: none;
  }
  .nav__bar {
    opacity: 1;
    pointer-events: all;
    transform: translateX(0);
    flex-direction: row;
    position: static;
    align-items: center;
    height: 50px;
    justify-content: space-evenly;
    width: 50%;
    background: rgba(85, 126, 98, 0.767);
  }
  .nav__item {
    font-size: 1rem;
  }
  .about__text {
    line-height: 4ch;
  }
  .header {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
  }
  .logo__text {
    letter-spacing: 1ch;
  }
  .prices__container {
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(2, minmax(150px, 400px));
    justify-content: space-around;
  }
  .prices__list {
    width: 100%;
  }
  .contact__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: #000;
    background-color: #fff;
  }
}
